APP_ENV=development
DATABASE_URL_DEVELOPMENT=postgres://postgres:postgres@localhost:5432/promise9
DATABASE_URL_PRODUCTION=postgres://user:password@host:5432/promise9?sslmode=verify-full

# 필수
JWT_ACCESS_SECRET=your-access-secret-here
# 필수
JWT_REFRESH_SECRET=your-refresh-secret-here
# 선택 | 기본값: 15m
#JWT_ACCESS_EXPIRES_IN=15m
# 선택 | 기본값: 30d
#JWT_REFRESH_EXPIRES_IN=30d
# 필수
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
